{% extends "./base.html"%}

<title>{% block title %} Editar Producto {% endblock %}</title>


{% block body%}
{% load crispy_forms_tags %}

<div class="row">
    <div class="col-sm-12 col-md-6 col-lg-8 col-xl-8">
        <h1>Modificar Producto</h1>   
    </div>
    <div>
        <a href="{% url 'listar'%}">Volver</a> 
    </div>
</div>

    <div class="row">
        <div class="d-flex justify-content-left py-0">    
                <form action="" method="POST"> 
                    {% csrf_token %}
                    {{form | crispy }}
                    <div class="d-flex justify-content-left">
                    <button type="submit" class="btn btn-danger btn-block text-white">Aceptar</button>
                    </div>
                </form>
                </div>
                    </div>
            <div class="alert alert-danger" role="alert">
                {{mensaje}}
            </div>    

{% endblock %}